.overlay .buttonSpace{
	width: 55%;
	height: 50px;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cardProduct .buttonSpace{
	height: 40px;
	padding: 10px 0 10px 0;
	text-align: center;
}
.buttonAddToBasket{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	transition: 0.1s;
}
.overlay .buttonAddToBasket{
	font-size: 20px;
}
.buttonReduce {
    width: calc(35% - 10px);
    height: 100%;
    padding: 0;
	margin-right: 10px;
	border-radius: 10px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
.quantity{
    width: calc(30% - 10px);
    height: 100%;
    padding: 0;
    text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.quantity:focus{
    outline: none;
}
.buttonIncrease{
    width: calc(35% - 10px);
    height: 100%;
    padding: 0;
	margin-left: 10px;
	border-radius: 10px;
	font-size: 14px;
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
	border: none;
}
.overlay .buttonReduce{
    font-size: 22px;
}
.overlay .quantity{
    font-size: 22px;
}
.overlay .buttonIncrease{
    font-size: 22px;
}