body.popup-open {
    overflow: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
	animation: overlay-blur 0.2s linear forwards;
}
@keyframes overlay-blur{
	from {
		background-color: none;
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
	}
	to {
    	background-color: rgba(0, 0, 0, 0.3);
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
	}
}
.overlay.hide{
	animation: hideOverlay 0.1s ease-in forwards;
}
@keyframes hideOverlay {
	from {
		background-color: rgba(0, 0, 0, 0.3);
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
	}
	to {
		background-color: none;
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
	}
}
.popup {
	position: absolute;
	animation: zoom-in 0.2s ease-out forwards;
	z-index: 2;
}
@keyframes zoom-in {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}
.popup.hide{
	animation: hidePopup 0.1s ease-in-out forwards;
}
@keyframes hidePopup {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.popup .cardProduct img{
	width: 100%;
	height: 170px;
}
.popup .cardProduct h3{
	margin-top: 0px;
	height: auto;
	font-size: 20px;
	padding: 0px 5px 0px 5px;
	color: var(--tg-theme-text-color);
}
.popup .cardProduct p{
	padding: 0 5px 5px 5px;
	height: auto;
	font-size: 18px;
	color: var(--tg-theme-hint-color);
}
