.productlList{
	padding-top: 40px;
}
.categoryCell{
	margin-left: 10px;
}
.list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0 10px 0 10px;
}