.header{
	position: fixed;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.sliderCategory{
	padding: 10px;
	background-color: var(--tg-theme-bg-color);
	border-bottom: 1px solid var(--tg-theme-hint-color);
}
.sliderCategory a{
	display: block;
	border-radius: 25px;
	text-decoration: none;
	line-height: 34px;
	margin: 0 3px;
	padding: 0 16px;
	transition: all ease 0.17s;
	white-space: nowrap;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.sliderCategory a:first-child{
	margin: 0 3px 0 0!important;
}
.sliderCategory a:last-child{
	margin: 0 0 0 3px!important;
}
.header a.active{
	color: var(--tg-theme-button-text-color);
	background: var(--tg-theme-button-color);
}