.cardProduct {
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--tg-theme-bg-color);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

	img {
		width: 100%;
		object-fit: cover;
	}
}

.cardProduct.Menu{
	display: grid;
	row-gap: 5px;

	img{
		height: 130px;
	}
	h3{
		max-height: 50px;
		font-size: 18px;
		margin: 0px 5px 0px 5px;
	}
	p{
		height: 64px;
		font-size: 14px;
		margin: 0px 5px 0px 5px;
		color: var(--tg-theme-hint-color);
	}
	.cardProduct.Menu.active{
		animation: zoom-out 0.4s linear;
	}
	@keyframes zoom-out {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(0.95);
		}
	}
	.cardProduct.Menu.hide{
		animation: hide 0.2s linear forwards;
	}
	@keyframes hide {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	.cardProduct.Menu.show{
		animation: show 0.3s linear ;
	}
	@keyframes show{
		from {
			transform: scale(1.05);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
}
